
@{
    ViewBag.Title = "GameRoom";
}

@section scripts
{
    <script src="~/Scripts/class.js"></script>
    <script src="~/Scripts/moves.js"></script>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/jquery-confirm.min.css" />
    <script src="~/Scripts/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="~/Content/timeTo.css" />
    <script src="~/Scripts/jquery.time-to.js"></script>
    <script src="~/Scripts/GameAPI.js"></script>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="~/signalr/Hubs"></script>
    <script src="~/Scripts/Game.js"></script>
}
<body class="back" style="background-color: #0a0a0c;"  >
    @*<video autoplay muted loop id="myVideo">
        <source src="~/Content/Video/covid.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>*@
    <div class="container" >
        <div class="row row-no-gutters">
            <div id="col1" class="col-lg-3 ">
                <div id="left">
                    <div id="information">
                        <br />
                        <b>Room ID : <span id="Idr"></span></b>
                        <p></p>
                        <b> Turn : <span id="turn"></span></b>
                    </div>
                    <div id="room">
                        <br />
                        <b>Game Options</b>
                        <input id="Fen" class="form-control" type="text" placeholder="Input fen">
                        <button id="Create_Board" type="submit" class="btn btn-primary mb-2" onclick="Create_lick()">Load Game</button>
                        <button type="button" id="play" class="btn btn-success">Start Game</button>
                        <button type="button" class="btn btn-warning" id="save">Save</button>
                        <p></p>
                        <b id="kayle">Wellcome hero!</b>
                        <br />
                        <img src="~/Content/Image/YxoIETK.gif" style=" width:100%" />
                    </div>
                </div>
            </div>
            <div id="col2" class="col-lg-6 ">
                <div id="board">
                </div>
            </div>
            <div id="col3" class="col-lg-3">
                <div id="right">
                    <div id="head">
                        <div id="black_player" style="text-align:center">
                            <b>Black player :</b>
                            <p><b id="BlackId"></b></p>
                        </div>
                        <div class="timeplay" id="timeblack"></div>
                        <div class="moves">
                            <b> Moves log </b>
                            <div class="list-group" id="move-table" style="overflow-y:auto">

                            </div>
                        </div>
                        <div class="timeplay" id="timewhite"></div>
                        <div id="white_player" style="text-align:center">
                            <b>White player :</b>   
                            <p><b id="WhiteId"></b></p>
                        </div>
                    </div>
                    <div id="body">

                        <div id="chat-circle" class="btn btn-raised">
                            <div id="chat-overlay"></div>
                            <i class="material-icons">chat</i>
                        </div>

                        <div class="chat-box">
                            <div class="chat-box-header">
                                Chat Room
                                <span class="chat-box-toggle"><i class="material-icons">close</i></span>
                            </div>
                            <div class="chat-box-body">
                                <div class="chat-box-overlay">
                                </div>
                                <div class="chat-logs">

                                </div><!--chat-log -->
                            </div>
                            <div class="chat-input">
                                <form>
                                    <input type="text" id="chat-input" placeholder="Send a message..." />
                                    <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
