
@{
    ViewBag.Title = "Lobby";
}

@section scripts{
    <script>
        $(document).ready(function (e) {
            setInterval(loadRoom, 5000);
            loadRoom();
        })
    </script>

    <script>
        function loadRoom() {
            $('.table tr td').remove();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "../api/GetAllRoom",
                /*data: source,*/
                success: function (data) {
                    $(data.roomList).each(function (index, element) {
                        var flag = "<td style='color: green'>Waiting...</td>";
                        var join = "<button class='btn btn-success' style='background-color: #45C3F0' onclick='join(" + '"' + element.GameID + '"' + ")' value=" + element.GameID + ">Go</button>";
                        if (element.PlayerBlackID != null) {
                            flag = "<td style='color: yellow'>Playing!!!</td>";
                            join = "<button class='btn btn-danger' style='background-color: #ED6767' href='#' disabled>Full</button>";
                        }
                        $('.table').append("<tr><td>" + index + "</td><td>" + element.GameID + "</td><td>" + element.PlayerWhiteID + "</td><td>" + element.PlayerBlackID + "</td>"
                            + flag + "<td>" + join + "</td></tr>");
                    })
                },
                error: function (error) {
                    jsonValue = jQuery.parseJSON(error.responseText);
                    alert("error" + error.responseText);
                }
            });
        }
    </script>

    <script>
    $('#playnow').click(function (e) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "../api/CreateRoom",
            /*data: source,*/
            success: function (data) {
                console.log("Mã phòng là: " + data.RoomID);
                var url = '@Url.Action("GameRoom", "Game")?Id=' + data.RoomID;
                window.location.href = url;
            },
            error: function (error) {
                jsonValue = jQuery.parseJSON(error.responseText);
                alert("error" + error.responseText);
            }
        });
    })
    </script>
    <script>
    $('#EnterRoom').click(function (e) {
        e.preventDefault();
        var Id = document.getElementById("RoomId").value;
        if (Id == "") {
            alert("Vui lòng nhập mã phòng");
        }
        else {
            $.ajax({
                type: "GET",
                /*dataType: "json",*/
                url: "../api/CheckRoom",
                data: { 'Id': Id},
                success: function (data) {
                    if (data.RoomID != "Null") {
                        console.log("Mã phòng là: " + data.RoomID);
                        var url = '@Url.Action("GameRoom", "Game")?Id=' + data.RoomID;
                        window.location.href = url;
                    }
                    else
                    {
                        alert("Phòng không tồn tại hoặc đã đủ người chơi")
                    }
            },
            error: function (error) {
                jsonValue = jQuery.parseJSON(error.responseText);
                alert("error" + error.responseText);
            }
        });
        }
    })
    </script>

    <script>
        function join(Id) {
            $.ajax({
                type: "GET",
                /*dataType: "json",*/
                url: "../api/CheckRoom",
                data: { 'Id': Id },
                success: function (data) {
                    if (data.RoomID != "Null") {
                        console.log("Mã phòng là: " + data.RoomID);
                        var url = '@Url.Action("GameRoom", "Game")?Id=' + data.RoomID;
                        window.location.href = url;
                    }
                    else {
                        alert("Phòng không tồn tại hoặc đã đủ người chơi")
                    }
                },
                error: function (error) {
                    jsonValue = jQuery.parseJSON(error.responseText);
                    alert("error" + error.responseText);
                }
            });
        }
    </script>
}
<style>
    body {
        margin-top: 30px;
        background-color: #0a0a0c;
        background-image: url(../../Content/Image/noxus.png);
        background-size: 100%;
        background-repeat: no-repeat;
        color: whitesmoke;
    }

    #RoomId {
        margin-top: 30px;
        background-color: #121212;
        color: #a38e40;
        border-color: #a38e40;
    }
    #PvE {
        margin-left: 10px;
        margin-top: 20px;
        background-color: #17191e;
        color: #c3a758;
        border-color: #c3a758;
    }

    #playnow {
        margin-top: 20px;
        background-color: #17191e;
        color: #c3a758;
        border-color: #c3a758;
    }

    #EnterRoom {
        margin-left: 10px;
        margin-top: 20px;
        background-color: #A38E40;
        border-color: #A38E40;
        color: #21262D;
    }

    .listRoom {
        height: 300px;
        background-color: #17191e;
        overflow: auto;
    }
</style>

<body>
    <div class="container">
        <div class="col-lg-6">
            <H2><span style="color: #17191e">Play game</span></H2>
            <input id="RoomId" type="text" class="form-control" placeholder="Enter Room ID">
            <button id="playnow" class="btn btn-success">Play now !</button>
            <button id="PvE" class="btn btn-success" onclick="location.href='@Url.Action("PvE","Game")'">PvE !</button>
            <button id="EnterRoom" class="btn btn-warning">Join room</button>
        </div>
        <div class="col-lg-6">
            <H2><span style="color: #17191e">List Room</span></H2>
            <div class="listRoom">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Room Id</th>
                            <th scope="col">Player White</th>
                            <th scope="col">Player Black</th>
                            <th scope="col">Status</th>
                            <th scope="col">Join</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
