@{
    ViewBag.Title = "Contact";
}

<div style="text-align:center">
    <h3>Bản quyền Website thuộc về ChoiGiDo Studio </h3>
    <img src="~/Content/Image/Logomark.png" width="500" />
    <h3>
        Admin : trongthoai01@gmail.com
    </h3>
</div>

